///
/// Solid State by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///
/* List */

ol {
	list-style: decimal;
	margin: 0 0 _size(element-margin) 0;
	padding-left: 1.25em;
	li {
		padding-left: 0.25em;
	}
}

ul {
	list-style: disc;
	margin: 0 0 _size(element-margin) 0;
	padding-left: 1em;
	li {
		padding-left: 0.5em;
	}
	&.alt {
		list-style: none;
		padding-left: 0;
		li {
			border-top: solid 1px _palette(border);
			padding: 0.5em 0;
			&:first-child {
				border-top: 0;
				padding-top: 0;
			}
		}
	}
	&.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
		font-size: 1.5em;
		li {
			display: inline-block;
			padding: 0 1em 0 0;
			&:last-child {
				padding-right: 0;
			}
			.icon {
				&:before {
					font-size: 1.25em;
				}
			}
		}
	}
	&.actions {
		cursor: default;
		list-style: none;
		padding-left: 0;
		li {
			display: inline-block;
			padding: 0 (_size(element-margin) * 0.5) 0 0;
			vertical-align: middle;
			&:last-child {
				padding-right: 0;
			}
		}
		&.small {
			li {
				padding: 0 (_size(element-margin) * 0.25) 0 0;
			}
		}
		&.vertical {
			li {
				display: block;
				padding: (_size(element-margin) * 0.5) 0 0 0;
				&:first-child {
					padding-top: 0;
				}
				>* {
					margin-bottom: 0;
				}
			}
			&.small {
				li {
					padding: (_size(element-margin) * 0.25) 0 0 0;
					&:first-child {
						padding-top: 0;
					}
				}
			}
		}
		&.fit {
			display: table;
			margin-left: (_size(element-margin) * -0.5);
			padding: 0;
			table-layout: fixed;
			width: calc(100% + #{(_size(element-margin) * 0.5)});
			li {
				display: table-cell;
				padding: 0 0 0 (_size(element-margin) * 0.5);
				>* {
					margin-bottom: 0;
				}
			}
			&.small {
				margin-left: (_size(element-margin) * -0.25);
				width: calc(100% + #{(_size(element-margin) * 0.25)});
				li {
					padding: 0 0 0 (_size(element-margin) * 0.25);
				}
			}
		}
		@include breakpoint(xsmall) {
			margin: 0 0 _size(element-margin) 0;
			li {
				padding: (_size(element-margin) * 0.5) 0 0 0;
				display: block;
				text-align: center;
				width: 100%;
				&:first-child {
					padding-top: 0;
				}
				>* {
					width: 100%;
					margin: 0 !important;
				}
			}
			&.small {
				li {
					padding: (_size(element-margin) * 0.25) 0 0 0;
					&:first-child {
						padding-top: 0;
					}
				}
			}
		}
	}
	&.contact {
		list-style: none;
		padding: 0;
		li {
			@include icon;
			margin: (_size(element-margin) * 1.25) 0 0 0;
			padding: 0 0 0 3.25em;
			position: relative;
			&:before {
				border-radius: 100%;
				border: solid 2px _palette(border);
				display: inline-block;
				font-size: 0.8em;
				height: 2.5em;
				left: 0;
				line-height: 2.35em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 2.5em;
			}
			&:first-child {
				margin-top: 0;
			}
		}
		@include breakpoint(small) {
			li {
				margin: (_size(element-margin) * 0.75) 0 0 0;
			}
		}
	}
}

dl {
	margin: 0 0 _size(element-margin) 0;
	max-width: 75%;
	margin: auto;
	@include breakpoint(large) {
		max-width: 85%;
	}
	@include breakpoint(medium) {
		max-width: none;
	}
	dt {
		display: block;
		font-weight: _font(weight-bold); // margin: 0 0 (_size(element-margin) * 0.5) 0;
		color: _palette(fg-light);
		margin: 0;
		line-height: 1.1;
	}
	dd {
		// margin-left: _size(element-margin);
		margin-bottom: 2em;
		>strong {
			font-size: 110%;
		}
		ul {
			list-style: none;
		}
		p+p {
			margin-top: -1em;
		}
	}
}

#lightSlider {
	li {
		padding-left: 0;
	}
}
.lSSlideOuter {
	a {
		border-bottom: 0;
	}
}

ul#lightgallery {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0;

	li {
		padding-left: 0;
		padding-right: 15px;
		width: calc(100% / 4);
		a {
			border-bottom: none;
		}

		@include breakpoint(small) {
			width: calc(100% / 2);
		}

		@include breakpoint(xsmall) {
			width: 100%;
			padding-right: 0;
		}
	}
}