///
/// Solid State by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Basic */

	// MSIE: Required for IEMobile.
		@-ms-viewport {
			width: device-width;
		}

	// MSIE: Prevents scrollbar from overlapping content.
		body {
			-ms-overflow-style: scrollbar;
		}

	// Ensures page width is always >=320px.
		@include breakpoint(xsmall) {
			html, body {
				min-width: 320px;
			}
		}

	body {
		// background-color:		_palette(bg);

		// background-image:		linear-gradient(to top, transparentize(_palette(bg), 0.2), transparentize(_palette(bg), 0.2)),
		// 						url('../../images/bg.jpg');
		//
		// background-size:		auto,
		// 						cover;
		//
		// background-attachment:	fixed,
		// 						fixed;
		//
		// background-position:	center,
		// 						center;

		// Prevents animation/transition "flicker" on page load.
		// Automatically added/removed by js/main.js.
			&.is-loading {
				*, *:before, *:after {
					@include vendor('animation', 'none !important');
					@include vendor('transition', 'none !important');
				}
			}

	}

	img {
		max-width: 100%;
	}

	.hidden {
		display: none !important;
	}

	#form-inscripcions {
		margin: -20px;

		iframe {
			height: 1205px !important;

			@include breakpoint(large) {
				height: 1435px !important;
			}

			@include breakpoint(medium) {
				height: 1500px !important;
			}

			@include breakpoint(xsmall) {
				height: 1825px !important;
			}

			@include breakpoint(xxsmall) {
				height: 1990px !important;
			}
		}
	}


	.incrustat {
		height:0;
		margin-bottom: 20px;
		padding-top:30px;
		position:relative;
		overflow:hidden;
	}
	.incrustat iframe,
	.incrustat object,
	.incrustat embed {
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
	}
	/* Ratios */
	.inc4-3 {
		padding-bottom: 75%;
	}
	.inc16-9 {
		padding-bottom: 56.25%;
	}