///
/// Solid State by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Footer */

	#footer {
		background-color: _palette(fg-light);
		margin-top: (_size(wrapper-edges, large) * -1);
		padding-top: _size(wrapper-edges, large);

		.inner {
			// @include padding(2em, 0);
			padding: 2em 0;
			@include vendor('display', 'flex');
			@include vendor('flex-direction', 'row');
			@include vendor('flex-wrap', 'wrap');
			margin: 0 auto;
			width: _size(inner);

			> * {
				width: 100%;
			}

			form {
				margin: 0 _size(section-spacing, large) 0 0;
				width: calc(50% - #{_size(section-spacing, large) * 0.5});
			}

			.contact {
				width: calc(50% - #{_size(section-spacing, large) * 0.5});
			}

			.copyright {
				border-top: solid 2px _palette(border);
				list-style: none;
				margin: (_size(element-margin) * 2) 0 _size(element-margin) 0;
				padding: _size(element-margin) 0 0 0;
				width: 100%;

				li {
					border-left: solid 2px _palette(border);
					color: _palette(fg-light);
					display: inline-block;
					font-size: 0.9em;
					line-height: 1;
					margin-left: 1em;
					padding: 0;
					padding-left: 1em;

					&:first-child {
						border-left: 0;
						margin-left: 0;
						padding-left: 0;
					}

					a {
						color: inherit;
					}
				}
			}

			.logo-social {
				width: 23em;
			}

			.logos {
				margin-top: 1em;

				@include breakpoint(large) {

				}

				img {
					margin-bottom: 1em;
					max-height: 75px;
				}
			}

			.colab {
				@include vendor('display', 'flex');
				@include vendor('justify-content', 'start');
				@include vendor('align-items', 'center');
				@include vendor('flex-wrap', 'wrap');

				&-logo {
					padding-right: 35px;
				}

				img {
					max-width: 185px;
				}
			}

			.edicions {
				@include vendor('display', 'flex');
				@include vendor('flex-direction', 'row');
				@include vendor('justify-content', 'space-evenly');
				@include vendor('flex-wrap', 'wrap');

				margin-top: 2rem;

				a {
					margin-bottom: 15px;
					min-width: 45%;
				}

				@include breakpoint(small) {

					a {
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}

		a {
			border-bottom: none;
		}

		@include breakpoint(large) {

			// background-color:		_palette(bg);
			//
			//  background-image:		linear-gradient(to top, _palette(fg-light), transparentize(_palette(fg), 0.9));									//url('../../images/bg.jpg');
			//
			// background-size:		auto,
			// 						cover;
			//
			// background-position:	center,
			// 						center;

			// 	margin-top: (_size(wrapper-edges, large) * -1);
			// 	padding-top: _size(wrapper-edges, large);

		}

		@include breakpoint(medium) {
		 	margin-top: (_size(wrapper-edges, medium) * -1);
		 	padding-top: _size(wrapper-edges, medium);

			.inner {
				@include padding(2em, 3em);
				display: block;
				width: 100%;

				form {
					width: 100%;
					margin: 0 0 (_size(element-margin) * 2) 0;
				}

				.contact {
					width: 100%;
					margin: 0 0 (_size(element-margin) * 2) 0;
				}

				.copyright {
					margin: (_size(element-margin) * 2) 0 _size(element-margin) 0;
				}
			}
		}

		@include breakpoint(small) {
		 	margin-top: (_size(wrapper-edges, small) * -1);
		 	padding-top: _size(wrapper-edges, small);

			.inner {
				@include padding(2em, 2em);

				form {
					margin: 0 0 (_size(element-margin) * 1.5) 0;
				}

				.contact {
					margin: 0 0 (_size(element-margin) * 1.5) 0;
				}
			}
		}

		@include breakpoint(xsmall) {
			.inner {
				.copyright {
					li {
						border-left: 0;
						display: block;
						margin: 1em 0 0 0;
						padding-left: 0;

						&:first-child {
							margin-top: 0;
						}
					}
				}
			}
		}

		// @include breakpoint(xxsmall) {
		// 	.inner {
		// 		// @include padding(1.5em, .5em);
		// 	}
		// }
	}
