///
/// Solid State by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Header */

	#header {
		// @include vendor('transition', 'background-color #{_duration(transition)} ease-in-out');
		@include vendor('transition', (
				'opacity #{_duration(menu)} ease-in-out',
				'visibility #{_duration(transition)} ease-in-out',
				'background-color #{_duration(menu)} ease-in-out'
		));
		opacity: 1;
		visibility: visible;
		background-color: transparentize(desaturate(lighten(_palette(bg), 5), 1.5), 0.04);
		border-bottom: 2px solid _palette(fg-light);
		height: 4em;
		left: 0;
		line-height: 3.5em;
		padding: 0.5em 1.25em;
		position: fixed;
		top: 0;
		width: 100%;
		/* z-index: _misc(z-index-base); */
		z-index: 1;

		.logo {
			// @include vendor('transition', (
			// 	'opacity #{_duration(transition)} ease-in-out',
			// 	'visibility #{_duration(transition)} ease-in-out'
			// ));
			border-bottom: 0;
			font-size: 0.8em;
			margin-bottom: 0;
			// opacity: 1;
			// visibility: visible;

			a {
				border: 0;
			}
		}

		nav {
			font-family: _font(family-heading);
			font-size: 0.8em;
			font-weight: _font(weight-heading-bold);
			height: 4em;
			letter-spacing: _font(kern-heading);
			line-height: 3.5em;
			position: absolute;
			right: 0.7em;
			text-transform: uppercase;
			top: 0.7em;

			a {
				border: 0;
				display: inline-block;
				padding: 0 1em;
				color: _palette(fg-bold);

				&:before {
					float: right;
					margin-left: 0.75em;
				}

				&:hover {
					color: _palette(fg-light);
				}

				&[href="#menu"] {
					display: none;
					@include icon;
					@include vendor('transition', 'background-color #{_duration(transition)} ease-in-out');
					border-radius: _size(border-radius);
					box-shadow: inset 0 0 0 2px _palette(border);
					padding: 0 1.35em;

					&:before {
						content: '\f0c9';
					}

					&:hover {
						background-color: _palette(border-bg);
					}

					&:active {
						background-color: _palette(border2-bg);
					}
				}
			}
		}

		&.alt {
			opacity: 0;
			visibility: hidden;
			background-color: transparent;
			border: 0;

			// .logo {
			// 	opacity: 0;
			// 	visibility: hidden;
			// }
		}

		@include breakpoint(medium) {
			nav {
				a {
					padding: 0 .7em;
				}
			}
		}

		@include breakpoint(small) {
			height: 2.75em;
			line-height: 2.75em;
			padding: 0.4em;

			.logo {
				img {
					max-height: 2.25em;
				}
			}

			nav {
				top: 0;
				right: 0;
				height: inherit;
				line-height: inherit;

				a {
					display: none;
					height: inherit;
					line-height: inherit;

					&[href="#menu"] {
						display: block;
						box-shadow: none;
						padding: 0 1em;
						border-radius: 0;

						&:hover, &:active {
							background-color: inherit;
						}
					}
				}
			}
		}

		@include breakpoint(xsmall) {
			nav {
				a {
					&[href="#menu"] {
						width: 4em;
						white-space: nowrap;
						text-indent: 4em;
						position: relative;

						&:before {
							width: inherit;
							position: absolute;
							top: 0;
							left: 0;
							text-indent: 0;
							text-align: right;
							margin-left: 0;
							padding-right: 1.25em;
						}
					}
				}
			}
		}
	}
